body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: rgb(7, 126, 7);
    background-image: url("../gambar/bkg-rumput.jpeg");
    background-size: cover;
}

body::after {
    content: '';
    display: block;
    height: 50px;
}

.box{
    display: inline-block;
    padding: 18px;
    border: solid 1px lightblue;
    border-radius: 10px;
    overflow-y: hidden;
    background-color: beige;
    vertical-align: top;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.box-vertical{
    width: 20%;   
    height: auto;
    margin: 20px 10px;
}

.box-horizontal{
    width: auto;   
    height: auto;
    margin: 15px; 
}

.gambar-kecil{
    width: 250px;
    height: 200px;
    overflow: hidden;
    margin-top: 5px;
}

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}
.text-right{
    text-align: right;
}

#main{
    min-height: 100%;
    min-width: 95%;
    text-align: center;
}

#header{
    position: relative;
    background: rgb(49,168,5);
    background: linear-gradient(90deg, rgb(49 168 5 / 55%) 3%, rgb(2 52 8 / 0%) 100%);
    width: 100%;
    display: inline-flex;
    min-height: 12vh;
}

#header > div.blog-title{
    text-align: left;
    padding-left: 20px; 
    margin: 0px;
    width: 60%;
    color: #fff013;
    font-style: italic;
    font-family: helvetica;
    font-size: 25px;
    line-height: 1.1;
    margin-top: 10px;
}

#header > div.blog-menu{
    padding-right: 40px; 
    margin: auto;
    width: 60%;
}

#header > div.blog-title > h1{
    text-align: left;
    padding-left: 20px; 
    margin: 0px;
}


#header > div.blog-title > p{
    margin-top: -5px; 
    text-align:  left; 
    padding-left: 20px; 
    color: rgb(143, 226, 43); 
    font-size:  18px; 
    font-style: italic; 
    text-shadow: 1px 2px 2px #8d7f4ef2;
}

#header > div.blog-menu > ul {
    display: inline-flex;
    width: 100%;
    float: right;
}

#header > div.blog-menu > ul > li {
     width: 100%;
     padding: 0.5em;
     list-style: none;
     cursor: pointer;
     position: relative;
     text-align: center;
     background: #13520761;
     border: solid 1px #19610ac4;
}

#header > div.blog-menu > ul > li > a {
    text-decoration: none;
    color: #d9c958;
}

#header > div.blog-menu > ul > li:hover {
  background: rgb(89 220 35 / 32%);
  color: white;
}

#header > div.blog-menu > ul > li > ul {
    position: absolute;
    top: 100%;
    background: rgba(0,0,0, 0.1);
    left: -2px;
    list-style: none;
    display: none;
    width: max-content;
    text-align: left;
}

#header > div.blog-menu > ul ul > li {
  padding: 0.5em;
  background-color: #1a3e01;
  margin-left: -40px;
}

#header > div.blog-menu > ul ul > li > a {
   text-decoration: none;
   color: #b3b910;
}

#header > div.blog-menu > ul ul > li:hover {
   background: rgb(32, 74, 13);
   text-decoration: none;
}

#header > div.blog-menu > ul li:hover > ul { 
  display: block;
}

#content{
    display: inline-block;
    overflow: visible;
    text-align: center;
    min-height: 78vh;
    margin-bottom: -40px;
}

.judul-artikel{
    background: rgb(49,168,5);
    background: linear-gradient(90deg, rgb(1 2 0 / 99%) 3%, rgba(16, 21, 17, 0.23) 100%);
    padding-top: 10px;
    color: rgba(157, 235, 18, 0.75);
    line-height: 2;
    font-size: 2.4em;
}
#footer{
    /* background: rgb(49,168,5); */
    background: linear-gradient(90deg, rgb(1 2 0 / 99%) 3%, rgb(0 8 1 / 64%) 100%);
    padding: 5px 0;
    color: rgb(237 139 11 / 92%);
    line-height: 1.9;
    clear: both;
    position: relative;
    top: 10vh;
    width: 100%;
}

#box_welcome{
    background-color: rgb(70 170 12 / 93%);
    background: linear-gradient(90deg, rgba(1, 2, 0, 0.87) 3%, rgba(0, 189, 23, 0.68) 100%);
    color: aliceblue;
    border-color: #86cf8299;
    margin-top: 44px;
}

table#contact{
    float: right;
}

table#contact th{
    text-align: right;
}

table#contact td{
    text-align: left;
}

div#kontak-info{
    padding: 20px;
    width: 60%;
}

div#kontak-form{
    padding: 35px;
    width: 40%;
    text-align: left;
    border-left: solid;
    border-color: #06b114de;
    background: #3a0bcd52;
}

.formgroup {
    display: inline-flex;
    width: 100%;
    margin-bottom: 6px;
}

.formcontrol {
    min-height: 25px;
    padding: 5px;
}
input.formcontrol  {
    border: #13520761 solid 1px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 200;
    width: 100%;
}

textarea.formcontrol  {
    border: #13520761 solid 1px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 200;
    width: 100%;
}
label.formcontrol  {
    font-size: 18px;
    font-weight: 400;
}
button.formcontrol {
    width: auto;
    height: 30px;
    border-radius: 5px;
    border-color: antiquewhite;
    padding: 0 30px;
}